html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 投票详情页
    body
        h3 #{title}
        p #{agree}人同意
        p #{object}人反对
        div
            button 同意
            button 反对